<!doctype html>
<html prefx="og: http://ogp.me/ns#">
<head>
  <title>Learn Morse Code | morsecode.io</title>

  <meta name="description" content="Learn morse code interactively, for free.">
  <meta name="keywords" content="morsecode,morse,code,morse code">

  <meta charset="UTF-8">
  <meta name="viewport"
        content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="x-ua-compatible" content="IE=edge">

  <meta property="og:title" content="Learn Morse Code"/>
  <meta property="og:description" content="Learn morse code interactively, for free."/>
  <meta property="og:type" content="article"/>
  <meta property="og:site_name" content="morsecode.io"/>
  <meta property="og:url" content="https://www.morsecode.io/"/>
  <meta property="og:image" content="https://www.morsecode.io/logo.svg"/>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,500' rel='stylesheet'
        type='text/css'>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body style="text-align: center;">
<h1>404</h1>
<img src="https://media.giphy.com/media/3jbWsZC9XPmQo/giphy.gif" />
<div>Page not found</div>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-72533215-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>